* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;    
 }

}
.container {
	flex-direction: column;
}

.block-1, .block-3 {
  background-color: #393B47;
}

.block-2 {
  background-color: #2B2E37;
}